@model ProDat.Web2.Models.MaintObjectType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintObjectType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectTypeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectTypeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectTypeDescExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectTypeDescExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdNounModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdNounModifier)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintObjectTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
