@model ProDat.Web2.Models.Pmassembly

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pmassembly</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PmassemblyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PmassemblyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PmassemblyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
