@model ProDat.Web2.Models.SubSystem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SubSystem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSystemNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSystemNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Systems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Systems.SystemNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubSystemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
