@model ProDat.Web2.Models.TaskListCat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TaskListCat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskListCatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskListCatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskListCatDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskListCatDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskListCatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
