@model ProDat.Web2.Models.MaintenancePlant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintenancePlant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlantNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlantNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlantDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlantDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintenancePlantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
