@model ProDat.Web2.Models.MaintItem

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaintItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPlanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPlanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemShortText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemShortText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMaintItemHeaderFloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMaintItemHeaderFloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemHeaderEquipId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemHeaderEquipId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemObjectListFloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemObjectListFloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemObjectListEquip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemObjectListEquip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemMainWorkCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemMainWorkCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemMainWorkCentrePlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemMainWorkCentrePlant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemOrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemOrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPlannerGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPlannerGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemActivityTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemActivityTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemRevNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemRevNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemUserStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemUserStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SysCondId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SysCondId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemConsequenceCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemConsequenceCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemConsequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemConsequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemLikelihood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemLikelihood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemProposedPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemProposedPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemProposedTi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemProposedTi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemLongText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemLongText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemTasklistExecutionFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemTasklistExecutionFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintItemDoNotRelImmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintItemDoNotRelImmed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaintItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
