@model ProDat.Web2.Models.MaintWorkCentre

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintWorkCentre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintWorkCentreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintWorkCentreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintWorkCentreDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintWorkCentreDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintWorkCentreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
