@model ProDat.Web2.Models.MaintLocation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintLocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintLocationDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintLocationDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintArea.MaintAreaName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
