@model ProDat.Web2.Models.MaintPlannerGroup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintPlannerGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPlannerGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPlannerGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPlannerGroupDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPlannerGroupDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintPlannerGroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
