@model ProDat.Web2.Models.Tag

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagFloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagFloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagFlocDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagFlocDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagMaintQuery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagMaintQuery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tagnoneng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tagnoneng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagVendorTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagVendorTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagRawNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagRawNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagRawDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagRawDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintScePsJustification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintScePsJustification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagMaintCritComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagMaintCritComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagRbmMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagRbmMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagVib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagVib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagSrcKeyList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagSrcKeyList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagBomReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagBomReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagSpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagSpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagCharacteristic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagCharacteristic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagCharValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagCharValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagCharDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagCharDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommZone.CommZoneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommClass.CommClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningSubsystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissioningSubsystem.CommSubSystemNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintEdcCodeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintEdcCode.MaintEdcCodeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngClass.EngClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDisc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDisc.EngDiscName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngParent.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngStatus.EngStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExMethod.ExMethodDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ipf.IpfDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyDoc.DocNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintCriticality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintCriticality.MaintCriticalityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintLocation.MaintLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectType.MaintObjectTypeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintParent.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPlannerGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPlannerGroup.MaintPlannerGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintScePsReviewTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintScePsReviewTeam.MaintScePsReviewTeamDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintSortProcess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintSortProcess.MaintSortProcessDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintStructureIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintStructureIndicator.MaintStructureIndicatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintType.MaintTypeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintWorkCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintWorkCentre.MaintWorkCentreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenanceplan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintenanceplan.MaintPlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceStandard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceStandard.PerformanceStandardDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RbiSil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RbiSil.RbiSilDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rbm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rbm.RbmDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rcm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rcm.RcmDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSystem.SubSystemNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vib.VibDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TagId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
