@model ProDat.Web2.Models.Tag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagFloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagFloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagFlocDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagFlocDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagMaintQuery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagMaintQuery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDisc.EngDiscName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDisc.EngDiscName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngParent.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintLocation.MaintLocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintLocation.MaintLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintCriticality.MaintCriticalityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintCriticality.MaintCriticalityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectType.MaintObjectTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectType.MaintObjectTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSystem.SubSystemNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TagId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
