@model ProDat.Web2.Models.CommZone

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CommZone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommZoneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommZoneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommZoneDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommZoneDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommZoneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
