@model ProDat.Web2.Models.MaintCriticality

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintCriticality</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintCriticalityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintCriticalityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintCriticalityDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintCriticalityDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintCriticalityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
