@model ProDat.Web2.Models.EngDataCode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EngDataCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDataCodeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDataCodeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDataCodeNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HideFromUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HideFromUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeSAPDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDataCodeSAPDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeDDLType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDataCodeDDLType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EngDataCodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
