@model ProDat.Web2.Models.CommClass

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CommClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommClassDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommClassDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
