@model ProDat.Web2.Models.MaintStatus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MaintStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintStatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintStatusDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintStatusDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintStatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
